.gm-hangman {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gm-gap-container);
}

.gm-hangman-game {
  display: none;
  flex-direction: column;
  align-items: center;
  gap: var(--gm-gap-container);
}

.gm-hangman-life {
  display: flex;
  background-color: var(--gm-color-blue-dark);
  padding: var(--gm-padding-cta);
  gap: var(--gm-gap-cta);
  border-radius: var(--gm-radius-cell);
}

.gm-hangman-life-icon {
  width: var(--gm-img-small);
  height: var(--gm-img-small);
}

.gm-hangman-vocabulary {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 70%;
  gap: var(--gm-gap-cta);
}

.gm-hangman-letter {
  width: var(--gm-img-small);
  height: var(--gm-img-small);
  background-color: var(--gm-color-blue-dark);
  border: none;
  border-radius: var(--gm-radius-cta);
  color: var(--gm-color-white);
  font-family: var(--gm-typography-heading);
  font-size: 20px;
}

/* .check  */
.good {
  background-color: var(--gm-color-green);
  color: var(--gm-color-blue-dark);
}

/* .check */
.bad {
  background-color: var(--gm-color-blue-opaque);
  color: var(--gm-color-white);
}

.gm-hangman-winner {
  position: fixed;
  width: inherit;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background-color: #fff; */
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  text-align: center;
}

.gm-hangman-winner button {
  margin-top: 10px;
}
