.gm-hangman {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 10px; */
  }

  .gm-hangman-game {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

.check {
    background-color: pink;
}

.gm-hangman-vocabulary {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.gm-hangman-letter {
    background-color: gray;
    border: none;
    color: black;
}