.gm-tictactoe {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gm-tictactoe-game {
  display: none;
  flex-direction: column;
}

.gm-tictactoe-board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

#gm-tictactoe-cell {
  width: 70px;
  height: 70px;
  background-color: lightgray;
  text-align: center;
  /* line-height: 100px; */
  font-size: 24px;
  border: none;
}

.gm-tictactoe-winner {
  position: fixed;
  width: inherit;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background-color: #fff; */
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  text-align: center;
}

.gm-tictactoe-winner button {
  margin-top: 10px;
}