.gm-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gm-gap-container);
}

.gm-home-games {
  display: flex;
  gap: var(--gm-gap-container);
}

.gm-home-game {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--gm-padding-card);
    gap: var(--gm-gap-container);
    width: 250px;
    border: var(--gm-border-card-style);
    border-radius: var(--gm-radius-general);
  }

.gm-home-game-text {
  display: flex;
  flex-direction: row;
  /* gap: 10%; */
  /* justify-content: space-between; */
}

.gm-home-game-icon {
  width: var(--gm-img-big);
  /* opacity: var(--gm-opacity-img); */
  mix-blend-mode: overlay;
}

#tictactoe {
    background-color: var(--gm-color-yelllow);
}

#hangman {
    background-color: var(--gm-color-red);
}

#sudoku {
    background-color: var(--gm-color-purple);
}

/* TABLET DISPLAY */
@media screen and (min-width: 425px) and (max-width: 768px) {
  .gm-home {
    overflow: auto;
    margin-top: 0;
  }
  .gm-home-games {
    flex-direction: column;
    /* flex-wrap: wrap; */

  }

  .app {
    overflow: auto;
  }

}

/* MOBILE DISPLAY */
@media screen and (max-width: 425px) {
  .gm-home {
    overflow: scroll;
  }
  .gm-home-games {
    flex-direction: column;

  }
}